<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>七日热点文章</title>
   <link rel="stylesheet" href="../../css/post.css">
</head>
<body>
    <div class="container">
        <div class="header">
            疫情期间睡觉不如瞎写点什么!
        </div>
        <div class="body">
            <div class="content">
                <ul class="list">

                </ul>
            </div>
        </div>
    </div>

<script src="../../js/post.js"></script>
<script src="../../js/jquery.min.js"></script>
</body>
</html>