<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>注册</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../css/common/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/common/style.default.css" id="theme-stylesheet">
    <style>
      #form-kaptcha{
        display: flex;
      }
      #register-kaptcha{
        width: 60%;
      }
      .div-kaptcha{
        width: 40%;
        height: 56px;
        display: flex;
      }
      #kaptcha {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>欢迎注册</h1>
                  </div>
                  <p>一个小系统</p>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                    <div class="form-group">
                      <input id="register-username" class="input-material" type="text" name="registerUsername" placeholder="请输入用户名/姓名" >
                      <div class="invalid-feedback">
                        用户名必须在2~10位之间
                      </div>
                    </div>
                  <div class="form-group">
                    <input id="register-email" class="input-material" type="email" name="registerEmail" placeholder="请输入邮箱" >
                    <div class="invalid-feedback">
                      请检查邮箱格式
                    </div>
                  </div>
                    <div class="form-group">
                      <input id="register-password" class="input-material" type="password" name="registerPassword" placeholder="请输入密码"   >
                    	<div class="invalid-feedback">
                          密码必须在6~10位之间
						</div>
                    </div>
                    <div class="form-group">
                      <input id="register-passwords" class="input-material" type="password" name="registerPasswords" placeholder="确认密码"   >
                    	<div class="invalid-feedback">
							两次密码必须相同 且在6~10位之间
						</div>
                    </div>
                    <div class="form-group" id="form-kaptcha">
                      <input id="register-kaptcha" class="input-material" type="text" name="registerkaptcha" placeholder="请输入验证码"   >
                      <div class="div-kaptcha">
                          <img  id="kaptcha" src="/auth/kaptcha.jpg">
                      </div>
                    </div>
                    <div class="form-group">
                      <button id="regbtn" type="button" name="registerSubmit" class="btn btn-primary">注册</button>
                    </div>
                  <small>已有账号?</small><a href="/auth" class="signup">&nbsp;登录</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	<!-- JavaScript files-->
	<script src="../../js/common/jquery.min.js"></script>
	<script src="../../js/common/bootstrap.min.js"></script>
    <script src="../../js/auth/register.js"></script>
    <script>
      $(function () {
          $("#register-username").change(function(){
              register.method.validateName($('#register-username'))
          })
          $("#register-email").change(function(){
              register.method.validateEmail($('#register-email'))
          })
          $("#register-password").change(function(){
              register.method.validatePassword($('#register-password'))
          })
          $("#register-passwords").change(function(){
              register.method.validateRePassword($('#register-password'),$('#register-passwords'))
          })
        $("#kaptcha").click(function () {
            this.src = "/auth/kaptcha.jpg";
        });
          $("#regbtn").click(function(){
              let vn = register.data.flagName, ve = register.data.flagEmail, vp = register.data.flagPas, vrp = register.data.flagRePas
              if(vn&&ve&&vp&&vrp){
                  let params = {
                      'username' : $('#register-username').val(),
                      'email' : $('#register-email').val(),
                      'password' : $('#register-password').val(),
                      'repassword' : $('#register-passwords').val(),
                      'captcha' : $('#register-kaptcha').val()
                  }
                  register.method.doLogin(params)
              }else{
                  if(!vn){
                      $("#register-username").addClass("form-control is-invalid");
                  }
                  if(!vp){
                      $("#register-password").addClass("form-control is-invalid");
                  }
                  if(!vrp){
                      $("#register-passwords").addClass("form-control is-invalid");
                  }
                  if(!ve){
                      $("#register-email").addClass("form-control is-invalid");
                  }
              }
          })
      })
    </script>
  </body>
</html>